<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @unit.value %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @unit.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Value</div>
            <div class="itemValue"><%= @unit.value %></div>
          </li>
      
          <li>
            <div class="itemLabel">From</div>
            <div class="itemValue"><%= @unit.from %></div>
          </li>
      
          <li>
            <div class="itemLabel">To</div>
            <div class="itemValue"><%= @unit.to %></div>
          </li>
      
    </ul>
  </div>

</div>
